@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #efefef;
    background: linear-gradient(#efefef, #696969), linear-gradient(to right, #888888, #c2c2c2, #888888);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0px;
    padding: 0px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #696969;
}

.sidepanel {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    background: #333333;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidepanel::-webkit-scrollbar {
    display: none;
}

.sidepanel #cross {
    color: #c2c2c2;
    font-size: 100px;
    padding-left: 280px;
    transition: 0.3s;
}

.sidepanel #cross:hover {
    color: #ffffff;
    cursor: pointer;
}

.sidepanel a {
    color: #c2c2c2;
    font-size: 48px;
    margin: 12px 24px 12px 24px;
    white-space: nowrap;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #ffffff;
}

.sidepanel .arrow {
    position: absolute;
    left: 290px;
}

.sidepanel #icon {
    margin-left: 50px;
    width: 250px;
    padding-top: 48px;
    transition: 0.3s;
    filter: brightness(1.5);
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
    background: #fafafa;
    background: linear-gradient(to right, #f8f8f8, #fefefe, #f8f8f8);
    font-family: 'Montserrat', sans-serif;
}

.nav {
    width: 400px;
}

.nav #icon {
    color: #000000;
    font-size: 80px;
    padding-left: 32px;
}

.nav #icon:hover {
    color: #696969;
    cursor: pointer;
}

.title {
    color: #000000;
    font-size: 144px;
    text-align: center;
    width: calc(100vw - 800px);
}

.motto {
    width: 400px;
}

.motto #text {
    color: #000000;
    font-size: min(32px, 2vw);
    font-style: italic;
    text-align: right;
    padding-right: 32px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding: 5px;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#section-img {
    flex: 1 2 30%;
}

.section-container .img {
    width: 70%;
    height: auto;
}

#section-text {
    flex: 2 1 70%;
}

.section-container .text {
    color: #333333;
    font-size: 1.75vw;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 2vw;
    padding: 3vw;
    background-color: #fafafa;
    border-radius: 10px;
    filter: drop-shadow(40px 20px 6px #aaaaaa);
}

#section-ui {
    flex: 2 1 100%;
}

.section-container .ui {
    display: flex;
    flex-flow: column wrap;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 2vw;
    padding-top: 0;
    background-color: #fafafa;
    border-radius: 10px;
    width: 100%;
}

#pliny {
    filter: drop-shadow(40px 20px 5px #aaaaaa);
}

#trajan {
    filter: drop-shadow(-40px 20px 5px #aaaaaa);
}

#rep-search .title {
    color: #333333;
    font-size: 2.5vw;
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

#rep-search input {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    outline: none;
    font-size: 2vw;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    height: 2.5vw;
    width: calc(100% - 20px);
}

#rep-search #results {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
}

#rep-table-container {
    margin-top: 2vw;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#rep-table-container::-webkit-scrollbar {
    border-radius: 10px;
    width: 8px;
}

#rep-table-container::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
}

#rep-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

#rep-table,
#news-table {
    background: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
    width: 101%;
    font-size: 1vw;
    text-align: left;
}

#rep-table thead th {
    background: #efefef;
    border-bottom: 2px solid #888888;
    border-left: 1px solid #aaaaaa;
    position: sticky;
    padding: 12px;
    top: 0;
}

#rep-table thead th:first-child {
    border-left: 0;
}

#rep-table td {
    height: 2vw;
    border-left: 1px solid #aaaaaa;
    padding: 14px;
}

#rep-table tr:nth-child(even),
#news-table tr:nth-child(even) {
    background: #fafafa;
}

#rep-table td:first-child {
    border-left: 0;
}

#rep-table img {
    object-fit: contain;
    max-width: 3vw;
    vertical-align: middle;
    border-radius: 6px;
    margin-right: 10px;
}

#rep-table .icon {
    margin-right: 8px;
    margin-bottom: 4px;
    max-width: 1.75vw;
}

#rep-table .icon:hover {
    filter: brightness(1.75);
}

#rep-table a {
    cursor: pointer;
}

#rep-labels,
#rep-error {
    width: 100%;
    display: none;
}

#rep-error th {
    text-align: center;
    border-bottom: 0 !important;
}

#newshub .title, 
#about .title {
    color: #333333;
    font-size: 4vw;
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

#news-table {
    font-size: 1.5vw;
    table-layout: fixed;
}

#news-table td {
    padding: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#about .text {
    margin: 0;
    text-align: left;
    font-size: 1.25vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    filter: none;
}

footer {
    color: #333333;
    font-size: 12px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 1250px) {
    .nav {
        width: 144px;
    }
    .title {
        width: calc(100vw - 288px);
    }
    .motto {
        display: none;
    }
    section {
        flex-direction: column;
        padding: 5px;
        width: 80vw;
    }
    .section-container .img {
        width: 40vw;
    }
    .section-container .ui {
        padding: 15px;
        padding-top: 0;
        width: 100vw;
    }
    .section-container #quote {
        font-size: 32px;
    }
    .section-container #title {
        font-size: 32px;
    }
    #rep-search .title,
    #newshub .title,
    #about .title {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 32px;
    }
    #rep-table,
    #news-table,
    #about .text {
        font-size: 16px;
    }
    #rep-search input {
        font-size: 24px;
        height: 32px;
    }
    #rep-table thead th,
    #rep-table td {
        padding: 6px;
    }
    #rep-table img {
        display: none;
    }
    #rep-table .icon {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 2px;
        max-width: 18px;
    }
}
